h1 {
  color: black;
  background-color: white;
  text-align: center;
}
p {
  color: black;
  background-color: white;
  text-align: center;
}
body {
  background-color: slategray;
}
h2 {
}
ul {
  color: black;
}
